In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('../01_data/train.csv')
test = pd.read_csv('../01_data/test.csv')

In [3]:
train

            id  level                                           full_log
0            0      0  Sep 24 10:02:22 localhost kibana: {"type":"err...
1            1      0  Feb  8 16:21:00 localhost logstash: [2021-02-0...
2            2      0  Jan 13 01:50:40 localhost kibana: {"type":"err...
3            3      0  Jan  4 10:18:31 localhost kibana: {"type":"err...
4            4      1  type=SYSCALL msg=audit(1603094402.016:52981): ...
...        ...    ...                                                ...
472967  472967      0  Feb 28 10:10:06 localhost logstash: 7738   error:
472968  472968      1  type=SYSCALL msg=audit(1611890993.458:321827):...
472969  472969      0  Oct 12 02:20:29 localhost kibana: {"type":"log...
472970  472970      0  Jan 15 09:02:43 localhost kibana: {"type":"err...
472971  472971      0  Oct 12 04:27:47 localhost kibana: {"type":"err...

[472972 rows x 3 columns]

In [4]:
test

              id                                           full_log
0        1000000  Feb  8 15:47:26 localhost kibana: {"type":"err...
1        1000001  Sep 24 03:46:39 localhost kibana: {"type":"err...
2        1000002  type=SYSCALL msg=audit(1611888200.428:210563):...
3        1000003  Jan 18 11:24:06 localhost kibana: {"type":"err...
4        1000004  type=SYSCALL msg=audit(1603081202.050:46851): ...
...          ...                                                ...
1418911  2418911  Jan 13 05:07:11 localhost kibana: {"type":"err...
1418912  2418912  Jan  5 02:24:50 localhost kibana: {"type":"log...
1418913  2418913  type=SYSCALL msg=audit(1611884593.462:38222): ...
1418914  2418914  Jan 22 01:38:19 localhost logstash: [2021-01-2...
1418915  2418915  Sep 24 09:48:22 localhost kibana: {"type":"err...

[1418916 rows x 2 columns]